* {
    box-sizing: border-box;
}

body {
    padding: 2rem;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
}

.flex-item {
    background-color: #eee;
    width: 15rem;
    height: 19rem;
    padding: 1rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.flex-item:hover {
    border: 1px solid rgb(60, 197, 60);
}

.flex-item:focus {
    border: 1px solid rgb(60, 197, 60);
}

form {
    text-align: center;
}

p b {
    color: rgb(60, 197, 60);
}

input[type="submit"] {
    margin-block: 5rem;
    padding: 1rem 2rem;
    border: none;
    background-color: rgb(60, 197, 60);
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    border-radius: .5rem;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: rgb(103, 215, 103);
}